#paperella
{
    height: 4.5em;
    width: 100%;
}

nav 
{
    width: 100% !important;
    overflow: hidden !important;
}

body
{
    width: 100% !important;
}

#container
{
    width: 100% !important;
    overflow: hidden !important;
}

#container-fluid
{
    width: 100% !important;
}

.card-img-top
{
    width: 100%;
}

.card
{
    justify-content: center;
    margin-top: 1em;
}

main
{
    display: flex;
    flex-direction: row !important;
}

.raw-2
{
    margin:0.5em;
    flex-direction: row;
    justify-content: center !important
}

footer
{
    margin-top: 2em;
}